body {
    font-family: 'Roboto', sans-serif;
    margin:0px;
    overflow:hidden;
}
.runControlButton {
    font-size:18pt;
    width:100px;
    margin:4px;
    background-color:#21A45C;
    color:#fff;
    border:0px;
}
.material {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}
#metronomeContainer {
    white-space:nowrap;
    top:-3px;
    position:relative;
}
#controlsContainer {
    margin-top:140px;
}
#songList {
    list-style: none;
    padding: 8px;
    margin: 0px;
    width: 200px;
    position: absolute;
    bottom: 8px;
    top: 8px;
    left: 8px;
}
#songList > li {
    padding:7px 8px 8px 8px;
    font-size:1.3em;
    background-color: #21A45C;
    color:white;
    border-bottom: solid 1px;
}
#songList > li.editableSong {
    padding-top:2px;
}
#songList > li input.error {
    border:solid 3px red;
}
#songList > li:hover {
    background-color: #21A45C;
    color:#FFF;
    cursor: pointer;
}
#songDetailContainer{
    position:absolute;
    left: 232px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    padding: 8px;
    margin: 0px;
    overflow: hidden;
}
.phraseContainer {
    display:inline-block;
}
.note {
    font-size:24pt;
    color:#21A45C;
}
.phrase {
    display: inline-block;
    font-size:32pt;
    height:50px;
}
#songDetail {
    white-space: nowrap;
    position:absolute;
    left:0px;
    padding-left:9px;
}
.slider {
    transition-property: left;
    transition-timing-function: linear;
}
.hidden {
     display:none;
}
.addButton {
    background-color:#21A45C;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    font-size: 36px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.editSongReferenceIcon {
    padding-top:4px;
    float:right;
}
#lyricsWrapper {
    position:absolute;
    top:60px;
    left:0px;
    right:6px;
}
#lyricsInput {
    font-size:32pt;
    width:100%;
}
#songEditor {
    position:absolute;
    left:8px;
    right:8px;
    padding:12px;
    background-color: #CCC;
}
#lyricsWrapper > #lyricsText {
    color:#21A45C;
    margin-top:-2px;
    font-size:32pt;
    padding-left:2px;
    overflow:hidden;
    margin-right:-4px;
    white-space: nowrap;
    padding-top:6px;
}
#noteTimelineContainer {
    height:95px;
    cursor: text;
}
#noteTimeline {
    position:absolute;
    bottom:50%;
    left:0px;
    right:0px;
    border-bottom:2px solid #21A45C;
}
#noteAddIndicator {
    height:68px;
    width:68px;
    position: fixed;
    top:16px;
    border-left:solid 2px #21A45C;
    pointer-events: none;
}
#noteInput {
    top:30px;
    position: fixed;
    min-width:40px;
    width:40px;
    font-size:24pt;
    color: #21A45C;
}
#noteTimelineContainer > .noteText {
    font-size:23pt;
    color: #21A45C;
    position: fixed;
    top:41px;
    padding-left:3px;
}