body {
    font-family: 'Roboto', sans-serif;
    margin:0px;
}
#songList {
    display: inline-block;
    list-style: none;
    padding: 8px;
    margin: 0px;
    width: 200px;
    position: absolute;
    bottom: 8px;
    top: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
    left: 8px;
}
#songList > li:hover {
    background-color: #ffcc00;
}