body {
    font-family: 'Roboto', sans-serif;
    margin:0px;
    overflow:hidden;
}
#startButton {
    font-size:18pt;
}
#controlsContainer {
    position:absolute;
    top:100px;
    margin-top:40px;
}
#songList {
    list-style: none;
    padding: 8px;
    margin: 0px;
    width: 200px;
    position: absolute;
    bottom: 8px;
    top: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
    left: 8px;
}
#songList > li:hover {
    background-color: #ffcc00;
}
#songDetailContainer{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
    position:absolute;
    left: 232px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    padding: 8px;
    margin: 0px;
    overflow: hidden;
}
.phraseContainer {
    display:inline-block;
}
.note {
    font-size:24pt;
    color:#C0A;
}
.phrase {
    display: inline-block;
    font-size:32pt;
    height:50px;
}
#songDetail {
    white-space: nowrap;
    position:absolute;
    left:0px;
    transition-property: left;
}